.outer {
  width: 800px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border: 10px solid orange;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  gap: 1px;
  background-color: white;
  padding: 1px;
}

.square {
  background-color: black;
  flex-grow: 1;
}